/build
/bin
/.xmake
/.vscode/*
/.cache
__pycache__
.pytest_cache
output
eval
config.json
/dist
vsxmake2022
compile_commands.json
/screenshot.png 
*.egg-info
.env
lc_options.generated.lua
/compute
.scripts
/Resources/OutputMesh/**
/Resources/OutputImage/
/Resources/SimulationState/
.polyscope.ini
imgui.ini
.VSCodeCounter
ext/*
!ext/xmake.lua
!.vscode/settings.json.for_xmake
.obsidian