[submodule "External/LuisaCompute"]
    path = External/LuisaCompute
    url = https://gitee.com/celeste-huohuo/LuisaCompute.git
    branch = stable

[submodule "External/polyscope"]
	path = External/polyscope
	url = https://gitee.com/celeste-huohuo/polyscope.git
    branch = master

# [submodule "External/ipc_toolkit"]
# 	path = External/ipc_toolkit
# 	url = https://gitee.com/celeste-huohuo/ipc-toolkit.git
#     branch = main

[submodule "External/amgcl"]
	path = External/amgcl
	url = https://github.com/ddemidov/amgcl.git
    # branch = master

