name: cmake-macos

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [macos-latest]
        build_type: [Release]
        compiler:
          - { cpp_compiler: g++, c_compiler: gcc}
          - { cpp_compiler: clang++, c_compiler: clang}

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -D CMAKE_CXX_COMPILER=${{ matrix.compiler.cpp_compiler }}
        -D CMAKE_C_COMPILER=${{ matrix.compiler.c_compiler }}
        -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest --build-config ${{ matrix.build_type }}
